<div class="place-info-box">
  <div class="place-info-box-content" [routerLink]="['/book',book._id]">
   <div class="img-content">
     <img class="img-prod" src="https://picsum.photos/355/355">
     <img class="cart" src="../../../assets/pen-on-square-of-paper-interface-symbol.png">
   </div>
   <div class="flex-content">
     <p class="content-info bold">{{book.title | uppercase }}</p>
     <span class="content-info bold"><i class="fa fa-star"></i> {{book.rating}}</span>
   </div> 
    <p class="content-info"><span class="bold">Author:</span> {{book.author}}</p>
    <p class="content-info"><span class="bold">Price:</span> {{book.price }}</p>
    <p class="content-info"><span class="bold">Year Published:</span> {{book.yearPublished }}</p>
  </div>
</div>