.content-info{
  display: block;
  font-size: 18px;
  margin: 10px 5px 10px;
}

.img-content{
  border: 1px solid #dcdcdc;
  padding: 7px;
  border-radius: 5px;
  position: relative;
}

.flex-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.place-info-box{
  padding: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
}

.img-prod{
  max-width: 100%;
  transition: 0.3s;
}

.place-info-box:hover .img-prod{
  filter: brightness(50%);
}

.cart{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 1s;
  padding: 15px;
}

.place-info-box:hover .cart{
  opacity: 1;
}

.bold{
  font-weight: bold;
}
.fa-star{
  color:#e0c224;
}

.place-info-box-content{
  cursor: pointer;
}