<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/']"><b>Angular</b></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a class="nav-item nav-link" [routerLink]="['/book']">Books</a>
            </li>
          </ul>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/BrunoYamashita" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://facebook.com/bruno.yamahsita" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/brunoyamashita/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
